* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
  font-family: Nunito, sans-serif;
  min-height: 100%;
  background-color: white;
}

* html #tudo {
  height: 100%; /* hack para IE6 que trata height como min-height */
}


#cabecalho{
  height: 80px;
  background-color: white;
  width: 95%;
  margin: 0 auto;
  
}

#cabecalho nav{
  background-color: #392f40;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  text-align: center;
  padding-right: 32%;

}

#cabecalho nav ul{
  margin-right: 15px;
  display: inline-block;
}

#cabecalho nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 auto
}

#cabecalho nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 20px;
  border-radius: 3px;
  text-transform: uppercase;
}

#cabecalho a.active, #cabecalho a:hover{
  background: white;
  transition: .5s;
  color: #2E2633;
}

#principal{
  height: 50%;
  width: 65%;
  float: left;
  margin-left: 17%;
  margin-right: 83%;
  font-family: Nunito, sans-serif;

}

#principal p{
  margin-top: 70px;
}

.tabela{
    height: 50px;
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
    margin-top: 30px;
    background-color: #392f40;
    color: white;
    border-radius: 5px;
}

.tabela th{
    background-color: #392f40;
    padding-top: 5px;
    border-radius: 10px;
}

.tabela tbody tr{
    background-color: white;
    padding-left:  70px;
}

.tabela tbody tr td{
    height: 30px;
    background-color: white;
    color: #392f40;
    font-weight: bold;
    border-radius: 10px;
    
}

.campo-tabela{
    
} 

.campo-tabela button{
    margin-left: 40px;

}

.campo-tabela p {
    text-align: center;
}

form{
    margin-top: 80px;
}

.numero{
    padding-left: 50px;
}


#rodape{
  height: 100px;
  width: 100%;
  float: left;
  margin-right: 83%;
  margin-top: 10%; 
  position: relative;
  bottom: 0;
  background-color: #2E2633;  
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

#rodape p{
  align-items: center;
  text-align: center;
  height: 50%;
  width: 100%;
  padding-top: 38px;
}

nav{
  background-color: #2E2633;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover{
  background: white;
  transition: .5s;
  color: #2E2633;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

#titulo{
  font-family: sans-serif;
  color: #2E2633;
  margin-left: 7%;
}

#subtitulo{
  font-family: sans-serif;
  color: #392f40;
  margin-left: 10%;
}

fieldset{
  border: 0;
  display: block;
}

input, select, button{
  border-radius: 5px;
}

.campo{
  margin-bottom: 1em;
}

.campo label{
  margin-bottom: 0.2em;
  color: #2E2633;
  display: inline-block;
}


fieldset.grupo .campo{
  float: left;
  margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select{
  border: 1px solid #59429d;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
}

.campo select option{
  padding-right: 1em;
}

.campo input:focus, .campo select:focus{
  background: #d9d7da;
}

.botao{
  font-size: 1.2em;
  background: #392f40;
  margin-top: 50px;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 100px;
  text-align: center;
  padding: 0.2em 0.6em;
  position: relative;
  left: 40%;

}

.botao:hover{
  background: white;
  color: #2E2633;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  border-color: #2E2633;

}

.botao, select{
  cursor: pointer;
}

@media(max-width:  925px){

  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }

}

@media(max-width:  858px){
    
    html{
        height: 100%;
    }
    
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #392f40;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:active, a:hover{
    background: #2E2633;
  }

  #check:checked ~ ul{
    left: 0;
  }
}